[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=2.0"
"Jinja2" = "*"

[dev-packages]
autopep8 = "*"
bandit = "*"
codacy-coverage = "*"
codecov = "*"
coverage = "*"
coveralls = "*"
dparse = {version = "*", extras = ["pipenv"]}
flake8 = "*"
mypy = "*"
pep8 = "*"
pip-licenses = "*"
prospector = "*"
ptpython = "*"
pylama = "*"
pylint = "*"
rope = "*"
sauceclient = "*"
selenium = "*"

[requires]
python_version = "3.7"

[scripts]
test = "python manage.py test"
