{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'riddles/css/riddle.css' %}">
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'riddles/js/riddle-manager.js' %}"></script>
{% endblock %}
{% block content %}
    {{ block.super }}
    <h1>{{ riddle_type }} {{ riddle_id }}</h1>
    <div class="gap-bot">
        {% if previous_id %}
            <a id="previous" class="btn btn-default" href="../{{ previous_id }}"><span
                    class="glyphicon glyphicon-arrow-left"></span></a>
        {% else %}
            <a id="previous" class="btn btn-default disabled" href="#"><span
                    class="glyphicon glyphicon-arrow-left"></span></a>
        {% endif %}
        <button class="btn btn-default" id="shrink"><span class="glyphicon glyphicon-zoom-out"></span></button>
        <button class="btn btn-default" id="restore-size"><span class="glyphicon glyphicon-search"></span></button>
        <button class="btn btn-default" id="enlarge"><span class="glyphicon glyphicon-zoom-in"></span></button>
        <button class="btn btn-default" id="full-screen"><span class="glyphicon glyphicon-fullscreen"></span></button>
        {% if next_id %}
            <a id="next" class="btn btn-default" href="../{{ next_id }}"><span
                    class="glyphicon glyphicon-arrow-right"></span></a>
        {% else %}
            <a id="next" class="btn btn-default disabled" href="#"><span
                    class="glyphicon glyphicon-arrow-right"></span></a>
        {% endif %}
    </div>
    <div class="gap-bot">
        <button class="btn btn-default" id="undo">Undo</button>
        <button class="btn btn-default" id="redo">Redo</button>
        {% if user.is_authenticated %}
            <button class="btn btn-success" id="save">Save</button>
            <button class="btn btn-warning" id="restore">Revert</button>
        {% endif %}
        <button class="btn btn-danger" id="reset">Reset</button>
    </div>
    <div class="gap-bot">
        <svg id="riddle" shape-rendering="crispEdges">
            <g id="riddle-values"></g>
            <g id="riddle-grid">
                <g id="riddle-grid-thin"></g>
                <g id="riddle-grid-bold"></g>
            </g>
            <g id="picker">
                <rect id="picker-background" x="0" y="0" width="0" height="0"></rect>
                <g id="picker-values"></g>
                <g id="picker-grid">
                    <g id="picker-grid-inner"></g>
                    <g id="picker-grid-outer"></g>
                </g>
            </g>
        </svg>
    </div>
{% endblock %}
{% block endscripts %}
    {{ block.super }}
    <script>
        RiddleManager.init();
    </script>
    {% block initriddle %}{% endblock %}
    <script>
        RiddleManager.adjustViewBox();
        RiddleManager.resetZoom();
    </script>
{% endblock %}
